* { 
    margin: 0; 
    padding: 0; 
}

#clock {
    text-align: center;
    position: relative;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 68px;
    margin-top: -34px;
  }

html, body {
    height: 100%;
  }
  
 